USE [master]
IF EXISTS (SELECT name FROM master.sys.databases WHERE name = N'Dormitory_Management_System')
drop database [Dormitory_Management_System]
GO
/****** Object:  Database [Dormitory_Management_System]    Script Date: 22/01/2022 12:57:01 ******/
CREATE DATABASE [Dormitory_Management_System]
 CONTAINMENT = NONE
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dormitory_Management_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dormitory_Management_System]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22/01/2022 12:57:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL primary key,
	[RoleName] [nvarchar](200) NULL)

/****** Object:  Table [dbo].[Account]    Script Date: 22/01/2022 12:57:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create TABLE [dbo].[Account](
	[UserName] [varchar](200) NOT NULL primary key,
	[PassWord] [varchar](50) NULL,
	[RoleID] [int] NULL references [Role](RoleID))

/****** Object:  Table [dbo].[Boarder]    Script Date: 22/01/2022 12:57:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boarder](
	[BoarderID] [int] IDENTITY(1,1) NOT NULL primary key,
	[PhoneNumber] [varchar](10) NULL,
	[BoarderName] [nvarchar](200) NULL,
	[Gender] [bit] NULL,
	[DOB] [date] NULL,
	[Email] [nvarchar](200) NULL,
	[Job] [nvarchar](200) NULL,
	[UserName] [varchar](200) NULL references Account(Username))

/****** Object:  Table [dbo].[Dom]    Script Date: 22/01/2022 12:57:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dom](
	[DomID] [varchar](1) NOT NULL primary key,
	[DomName] [varchar](5) NULL)

/****** Object:  Table [dbo].[RoomCategory]    Script Date: 22/01/2022 12:57:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomCategory](
	[CategoryID] [int] NOT NULL primary key,
	[CategoryName] [nvarchar](100) NULL,
	[Gender] [bit] NULL,
	[RoomFee] [float] NULL,
	[BedNumber] [int] NULL)


/****** Object:  Table [dbo].[Room]    Script Date: 22/01/2022 12:57:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL primary key,
	[RoomName] [varchar](5) NOT NULL,
	[Floor] [int] NULL,
	[DomID] [varchar](1) NOT NULL references Dom(DomID),
	[CategoryID] [int] NULL references RoomCategory(CategoryID))

/****** Object:  Table [dbo].[BoardingInformation]    Script Date: 22/01/2022 12:57:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoardingInformation](
	[BoarderID] [int] NOT NULL references Boarder(BoarderID),
	[RoomID] [int] NOT NULL references Room(RoomID),
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[BedNo] [int] NULL
	Primary key ([BoarderID],[RoomID]))

/****** Object:  Table [dbo].[DomManager]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomManager](
	[ManagerID] [int] IDENTITY(1,1) NOT NULL primary key,
	[PhoneNumber] [varchar](10) NULL,
	[ManagerName] [nvarchar](200) NULL,
	[Email] [varchar](50) NULL,
	[Gender] [bit] NULL,
	[DOB] [date] NULL,
	[Regency] [nvarchar](200) NULL,
	[UserName] [varchar](200) NULL references Account(UserName))

/****** Object:  Table [dbo].[ElectricAndWaterBill]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElectricAndWaterBill](
	[BillID] [int] IDENTITY(1,1) NOT NULL primary key,
	[Deadline] [date] NULL,
	[Status] [varchar](50) NULL,
	[Month] [varchar](50) NULL,
	[WaterAmuont] [float] NULL,
	[ElectricAmount] [float] NULL,
	[RoomID] [int] NOT NULL references Room(RoomID))

/****** Object:  Table [dbo].[Feedback]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL primary key,
	[BoarderID] [int] NULL references Boarder(BoarderID),
	[Title] [nvarchar](max) NOT NULL)


/****** Object:  Table [dbo].[Manager]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ManagerID] [int] NOT NULL references DomManager(ManagerID),
	[DomID] [varchar](1) NOT NULL references Dom(DomID),
	primary key([ManagerID],[DomID]))


/****** Object:  Table [dbo].[Notices]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notices](
	[NoticeID] [int] IDENTITY(1,1) NOT NULL primary key,
	[Direction] [bit] NULL,
	[Time] [date] NULL,
	[Title] [nvarchar](max) NULL,
	[BoarderID] [int] NOT NULL references Boarder(BoarderID),
	[ManagerID] [int] NOT NULL references DomManager(ManagerID))
	
/****** Object:  Table [dbo].[RoomFeeBill]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomFeeBill](
	[BillID] [int] NOT NULL primary key,
	[Deadline] [date] NULL,
	[Status] [varchar](50) NULL,
	[Month] [varchar](50) NULL,
	[BoarderID] [int] NOT NULL references Boarder(BoarderID))


/****** Object:  Table [dbo].[RoomStatus]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomStatus](
	[RoomID] [int] NOT NULL references Room(RoomID),
	[BedNo] [int] NOT NULL,
	[Status] [bit] NULL,
	primary Key([RoomID],[BedNo]))

/****** Object:  Table [dbo].[Wallet]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[WalletID] [int] IDENTITY(1,1) NOT NULL primary key,
	[Balance] [float] NULL,
	[UserName] [varchar](200) NULL references Account(UserName))


/****** Object:  Table [dbo].[Transaction]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionID] [int] identity(1,1) NOT NULL primary key,
	[Type] [varchar](50) NULL,
	[Amount] [float] NULL,
	[Message] [nvarchar](max) NULL,
	[Time] [date] NULL,
	[WalletID] [int] NULL references Wallet(WalletID))


/****** Object:  Table [dbo].[Violation]    Script Date: 22/01/2022 12:57:01 pm ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Violation](
	[ViolationID] [int] IDENTITY(1,1) NOT NULL primary key,
	[Type] [varchar](50) NULL,
	[Violator] [varchar](50) NULL,
	[Penalization] [nvarchar](100) NULL,
	[Discription] [nvarchar](100) NULL,
	[ManagerID] [int] NULL references DomManager(ManagerID))

/*
Add data
*/
INSERT INTO [Role] ([RoleID], [RoleName]) VALUES (1, N'Admin'), (2, N'Staff'),(3, N'Customer')

INSERT INTO [Dom] ([DomID],[DomName]) VALUES ('A','Dom A'),('B','Dom B'),('C','Dom C'),
									('D','Dom D'),('E','Dom E'),('F','Dom F'),('G','Dom G')

INSERT INTO RoomCategory(CategoryID,CategoryName,Gender,RoomFee,BedNumber)
VALUES (1,'Student_4',1,800000,4),
	   (2,'Student_6',1,600000,6),
	   (3,'Student_4',0,800000,4),
	   (4,'Student_6',0,600000,6),
	   (5,'Teacher_1',1,800000,1),
	   (6,'Teacher_1',0,800000,1),
	   (7,'Teacher_2',1,600000,2),
	   (8,'Teacher_2',0,600000,2),
	   (0,'Staff',1,0,0)



INSERT INTO ACCOUNT([UserName],[PassWord],[RoleID]) values ('admin','12345678',1),('staff','12345678',2),('boarder','12345678',3)

		

